:root {
  --color-primary: #f1f1f1;
  --color-secondary: #405d78;
  --color-navigation: #4e4e4e;
  --color-footer: #4e4e4e;
  --color-red: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.125rem;
  font-weight: 700;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  font-size: 0.8125rem;
}
.container {
  width: 960px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .container {
    width: 96%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    width: 960px;
  }
}
/* header start*/
.header {
  height: 50px;
  background-color: var(--color-navigation);
}
.headerContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-navigation);
}
.headerNav {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
  .headerContainer {
    height: 70px;
  }
  .headerNav {
    display: flex;
  }
}

.logoAtHeaderContainer {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.381rem;
  text-align: left;
}

.headerNavList {
  display: flex;
  align-items: center;
}
.navLink {
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.7rem 0 1.7rem;
  font-size: 1rem;
  line-height: 1.375em;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
  color: var(--color-white);
}
.navLink:hover {
  background-color: var(--color-black-opacity-2);
}
.navElement {
  padding: 0 1.7rem;
}
/* header end */
/* landingPage start */
.landingPage {
  height: calc(100vh - 50px);
  background-image: url(../assets/landingPageBackgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.landingPage::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-black);
  opacity: 0.4;
}
.pageBannerContainer {
  position: relative;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 4rem;
}
.pageBannerTitle {
  width: 22.5rem;
  height: 5rem;
}
.pageBannerDescription {
  font-weight: 700;
  font-size: 1.125rem;
}
.pageBannerLink {
  width: 10.25rem;
  height: 2.5rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  display: flex;
  align-items: center;
  border: solid 3px var(--color-primary);
  justify-content: center;
  color: var(--color-white);
  transition: 1s;
}
.pageBannerLink:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .landingPage {
    height: calc(100vh - 50px);
  }
  .pageBannerTitle {
    width: 36rem;
    height: 3.75rem;
  }
}
/* landingPage end */

/* aboutUs start */
.aboutUs {
  background-color: var(--color-primary);
}
.aboutUsTitle {
  color: var(--color-black);
  padding-top: 3.125rem;
  text-align: center;
}
.associateData {
  width: 100%;
  display: block;
}
.associateDataTitle {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.associatePhoto {
  border-radius: 50%;
  border: solid 2px var(--color-white);
  width: 12rem;
  height: 12rem;
  padding-top: 1.25rem;
}
.image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  aspect-ratio: 1;
}
.associateField {
  display: flex;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1025px) {
  .aboutUsTitle {
    text-align: start;
  }
  .associateData {
    width: 80%;
  }

  .associateDataTitle {
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .associatePhoto {
    padding-top: 0;
    width: 150px;
    height: 150px;
  }
  .image {
    width: 100%;
  }
  .associateField {
    display: flex;
    min-height: 250px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    padding-bottom: 0;
  }
  .associateField:nth-child(even) {
    flex-direction: row-reverse;
    text-align: end;
  }
}

/* aboutUs end */
/* ourOffer start */
.offerContainer {
  background-color: var(--color-secondary);
}
.ourOfferTitle {
  position: relative;
  padding-top: 3.125rem;
  color: var(--color-white);
  text-align: center;
}
.ourOffersContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.offerItem {
  display: flex;
  width: 20.5rem;
  height: 20.5rem;
  background-color: var(--color-primary);
  color: var(--color-black);
  margin: 5%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.offerItem:hover {
  transform: scale(1.05);
}
.offerItemNew {
  position: relative;
}
.offerItemNew::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--color-red);
  position: absolute;
  left: 0;
  top: -20px;
  transform: translateX(-50%) translateY(50%);
  border-radius: 50%;
}
.addNew {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.indexNew {
  font-size: 1rem;
}
/* ourOffer end */
